# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Unity Caches & Temporary folders
[Ll]egacy_Unity/[Ll]ibrary/
[Ll]egacy_Unity/[Ll]ogs/
[Ll]egacy_Unity/[Uu]ser[Ss]ettings/
[Ll]egacy_Unity/.utmp/
[Ll]egacy_Unity/[Bb]uilds/
unity_ar/[Ll]ibrary/
unity_ar/[Ll]ogs/
unity_ar/[Uu]ser[Ss]ettings/
unity_ar/.utmp/
unity_ar/[Bb]uilds/

# Local tools
graphify-out/

